*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    font-family: 'Poppins', sans-serif;
}


.websiteTitle{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content:center; 
    background-color: #f63232;  
}

/* gameloft css properties*/
.titleText{
    color:white;
    font-size: xx-large;
    padding: 8px;
    font-weight: bolder;  
}


/* border around gamloft */

#border{
    margin: 20px;
    border: solid white;
    border-radius: 100px;
    border-width: 9px;

}




/* size of banner picture*/
#banner{
    width: 100%;
    height: auto;
    
}



.welcomeBanner{
    background-color: #f63232; 
    text-align: center; 
}

#welcome{
    font-size: large;
}

#gameloft{
    font-size: x-large;
}

.pageNav{
    display: flex;
    flex-flow: column;
    background-color: #f63232; 
    padding: 20px;
    background-color:#f4f4f4;
}

.pageNav span #signup{
    color:#f63232;

}



/* hyperlinks */


a:link{
    text-decoration: none;
    color:black;
}

a:visited{
    color: red;
    text-decoration: none;
}


a:active{
    color: red;
    text-decoration: none;
}



.releaseText{
      
    padding: 20px;

    
}


article p::first-line {
    font-weight: bold;
    font-size: 20px;
  }

article p {
    line-height: 25px;
    text-align: center;
    width: 60%;
    margin: 20px auto 0;
  }


  article h1{
    text-align: center;
    color:#f63232;
    font-size: xxx-large;

  }


/* release posters */

.releasePosters{
    margin-bottom: 50px;
}


.releasePosters{
  text-align: center;
}


/* set posters properties */
ul li img{
    width: 270px;
}


/* remove period in ul li*/
ul li{
    list-style-type: none
}



/* contact section */

section{
    background-color: rgb(238, 238, 238);
    padding: 50px;
    text-align: center;

}

section h1{
    font-size: 36px;
    padding-bottom: 15px;
}


section form input {

    margin: 10px 15px;
    padding: 10px 25px; 
    font-size: 16px; 
    border: 4px solid white;
    border-radius: 28px;
  }




section form button {
  
    background-color: #f63232;
    border: none;
    border-radius: 28px;
    padding: 20px 40px;
    margin: 20px;
    color: #f4f4f4;
    font-size: 20px;
    cursor: pointer;

}

/* footer */

footer{
    padding: 20px; 
    background-color: #f63232;
    text-align: center;
    
}

footer h3{
       color: white;
}


/* set entire body to z index minus title 
and nav  */

 .releaseText, article,ul, section, footer{
    z-index: -1;
}


 @media only screen and (min-width: 500px) {
    *{
        margin: 0px;
        padding: 0px;
    }

    .websiteTitle{
        position:sticky;
        z-index: 1;
        top: 0px;
    }

    #banner{
        z-index: auto;
    }
 

   .welcomeBanner{
    width: 350px;  
    height: 200px;
    position:absolute;
    left: 0px;
    top: 45%;
    z-index: auto;
    
}

.welcomeBanner .textTitle span{
    font: size 20px;
}

.pageNav{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: #f63232; 
    padding: 20px;
    background-color:#f4f4f4;
    position: sticky;
    top:13%;

}

.pageNav span a{
    font-size: larger;
}

.releasePosters{
    margin: 70px 40px 90px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}




 }
 

 
 @media only screen and (min-width: 800px) {
    
    #banner{
        width: 100%;
        height: 50%;
        
    }
  
    .welcomeBanner{
        width: 300px;  
        height: 170px;
        position:absolute;
        left: 0px;
        top: 30%;
        z-index: auto;
        
    }

    .pageNav{
        position: sticky;
        top:9%;
    
    }

    ul li img{
        margin: 10px;
        width: 200px;
        /* text-align: center; */
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    
 }
 



 /* Large devices (laptops/desktops, 992px and up) */
 
 
 @media only screen and (min-width: 992px) {
    
    .welcomeBanner{
        width: 300px;  
        height: 170px;
        position:absolute;
        left: 0px;
        top: 20%;
        z-index: auto;
        
    }

    .pageNav{
        position: sticky;
        top:40%;
    
    }

 }
 


 
/* Extra large devices (large laptops and desktops, 1200px and up) */


 @media only screen and (min-width: 1200px) {

    .welcomeBanner{
        width: 300px;  
        height: 170px;
        position:absolute;
        left: 0px;
        top: 40%;
        z-index: auto;
        
    }

    .welcome.textTitle span{
        font-size: 40px;
    }

    .pageNav{
        position: sticky;
        top:20%;
    
    }
    


 } 

#warning{
    color:#f63232;
    display: none;
}



